<h1>Listing stocks</h1>
<div class="people-container"></div>
<script type="text/templates" class="people-template">
    <div class="people">
      <h4>{{name}}</h4>
    </div>
</script>
 <script type="text/templates" class="stock-template">
    <div class="stock">{{name}} - {{price}}</div>
</script>

<%= content_for :javascripts do %>
  <script>
      var people = <%= raw @persons.to_json(:include => :stocks) %>;
      var personTemplate = _.template($(".people-template").html());
      var stockTemplate = _.template($(".stock-template").html());

      people.forEach(function(person) {
        var personHtml = personTemplate(person);
        var $personHtml = $(personHtml);
        $(".people-container").append($personHtml);
        person.stocks.forEach(function(stock){
          $personHtml.append(stockTemplate(stock));
        });
      });
  </script>
<% end %>

